

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAIN AREA</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj7@gZWKYbI7@6tWS"
crossorigin="anonymous">
</head>
<body style="background-color: green;">
<div class="container">
    <h1 class="display-4 text-center py-1">Vazifalar maydoni</h1>
<!--TASK A  TASK A  TASK A  TASK A  TASK A  TASK A -->
    <h2>Task A</h2><div class="jumbotron p-3 shadow-sm">
        <form id="form1" method="post">
            <div class="d-flex align-items-center">
                <input 
                type="text"
                autofocus
                autocomplete="off" 
                class="form-control mr-3" 
                placeholder="So'z kiriting"
                id="word" 
                name="word" 
                required />

                <input 
                type="text"
                class="form-control mr-3" 
                placeholder="Harfni kiriting"
                id="letter" 
                name="letter" 
                required />
                <button class="btn btn-primary" style="border-radius: 20px; width: 30%;" type="submit">So'zni kiritish</button>
</div>
</form>
</div>
<ol class="list"></ol>
<script>
const form = document.querySelector("#form1");
const word = document.querySelector("#word");
const letter = document.querySelector("#letter");
const list = document.querySelector(".list");


form.addEventListener('submit', (event) => {
  event.preventDefault();
  const newWord = word.value;
  const newLetter = letter.value;
  countLetter(newWord, newLetter);
  word.value = "";
  letter.value = "";
  word.focus();
});


function deleteWord(ele) {
  console.log(ele.parentElement);
  ele.parentElement.remove();
}

function countLetter(word, letter) {
  let count = 0;
  for (let i = 0; i < word.length; i++) {
    if (word[i] === letter) {
      count++;
    }
  }
  const newHTML = `<li style="margin:10px">${word}da ${letter} harfi ${count} ta  <button onclick="deleteWord(this)">o'chirish</button></li>`;
  list.insertAdjacentHTML('beforeend', newHTML);
}

</script>
</div>
</body>

</html>
