

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAIN AREA</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj7@gZWKYbI7@6tWS"
crossorigin="anonymous">
</head>
<body style="background-color: green;">
<div class="container">
    <h1 class="display-4 text-center py-1">Vazifalar maydoni</h1>
<!--MITASK A  MITASK A  TASK A  TASK A  TASK A  TASK A -->
 <%- include('./tasks/taskA') %>

<!--TASK Lesson 21 - Callback and event loop -->
 <%- include('./tasks/lesson21') %>

 <!--TASK Lesson 22 - Asynchronus functions -->
 <%- include('./tasks/lesson22') %> 
</div>
</body>

</html>
