body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.center-section {   
    padding: 3rem 2rem 0 3rem;
    height: 447px; 
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.center-section__img {
    text-align: right;
}

.center-section__welcome{
    margin-top: 80px;
    font-size: 36px;
    font-weight: bold;
    color: #05364E;
}

.about-me__description{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 20px;
    color: #797979;
    line-height: 1.69rem;
}

.hire-me{
    border: none;
    background-color:#ffb400;
    color:black;
    padding: 1.26rem 2.5rem;
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-size: 200% auto;
}


/* My services section */

.flex-container {
display: flex;
justify-content: space-between;
align-content: center;
text-align: center;
}
.flex-item {
width: 310px;
height: 225px;
background-color: white;
font-weight: bold;
margin-bottom: 20px;
align-content: center;
}

.my-services h2{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 10px;
}

.frame{
width: 100%;
height: 100%;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
background:#e5e5e5;}


.main_frame {
position: relative;
width: 1440px;
/* height: 1312px; */
display: flex;
flex-direction: row;
margin-top: 2px;
/* background: #f7f6b9; */
}

.main_frame .left_frame {
position: relative;
width: 305px;
/* height: 1315px; */
background-color: white;
display: flex;
flex-direction: column;
}

.main_frame .mid_frame {
position: relative;
width: 970px;
/* height: 1259px; */
margin-left: 30px;
margin-right: 27px;
display: flex;
flex-direction: column;
}

.main_frame .right_frame {
position: relative;
width: 108px;
height: 1315px;
background-color: white;
align-items: center;
display: flex;
flex-direction: column;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  align-content: center;
}
.nav-item {
  align-items: center;
  align-content: center;
  cursor: pointer;
  background-color:#f0f0f6;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.nav-item img, .nav-item svg {
  width: 20px;
  padding: 15px;
  text-align: center;
}
.nav-item.active{
  background-color: #ffb400;
}
.nav-item.active img, .nav-item.active svg {
  padding: 10px;
  width: 30px;
  padding: 10px;
}

.nav-item:hover{
  background-color: #ffb400;
  transition: background-color 0.3s ease;
}
.nav-item img:hover, .nav-item svg:hover {
  width: 30px;
  padding: 10px;
}


.main_frame .left_1 {
position: relative;
width: 228px;
height: 267px;
margin-top: 50px;
margin-left: 37px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* background-color: aqua; */
}

.main_frame .left_1 .left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}

.left_1-2{
position: relative;
width: 66.63 px;
height: 20.9px;
margin-bottom: 6.65px;

font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 123.6%;

display: flex;
justify-content: center;
align-items: center;
text-transform: capitalize;
color: #2b2b2b;
}


.left_1-3{
    position: relative;
    width: 147.84px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-style: normal;
    font-size: 15px;
    text-transform: capitalize;
    font-feature-settings: "calt", off, "kern", off;
    color: #767676;
}

.left-icons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}

.link_href{
    text-decoration: none;
    color: black;
}

.icon{
    position: relative;
    width: 24.99px;
    height: 21.61px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.icon-1 {
    position: relative;
    left:29.17%;
    right: 27.08%;
    margin-top: 5.86px;

}



.main_frame .marginer{
position: relative;
width: 220px;
height: 0;
margin-left: 40px;
margin-bottom: 25px;
margin-top: 39px;

border: 1.5px solid #f0f0f6;
}

.main_frame .left_2 {
position: relative;
width: 221px;
height: 126px;
margin-left: 44px;
display: flex;
flex-direction: column;
gap: 10px;
max-width: 300px;
}


.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  background-color: #f4b73f;
  padding: 4px 8px;
  color: #000;
  text-align: left;
}

.value {
  color: #333;
  text-align: right;
  flex-grow: 1;
  padding-left: 10px;
}

.value.available {
  color: #6cc070;
  font-weight: 500;
}

.main_frame .left_3 {
position: relative;
width: 220px;
height: 153px;
margin-left: 45px;
color: #333;
}

.left_3 h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.qator{
    margin-bottom: 20px;
}

.qator-label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #777;
}

.progress-bar {
  height: 2px;
  background-color: #fff;
  border: 2px solid #f4c542;
  border-radius: 5px;
  margin-top: 6px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #f4c542;
  border-radius: 5px;
}

.main_frame .left_4 {
position: relative;
width: 220px;
height: 252px;
margin-left: 45px;
}

.main_frame .left_5 {
position: relative;
width: 186px;
margin-left: 44px;
}

.ex-qator {
  display: flex;
  flex-direction: column;
  gap: 10px;
font-size: 16px;
  color: #777;
}

.ex-qator img{
    margin-right: 10px;
}