<h2>Task Lesson 21 - callbackni o'rganamiz</h2>
        <form id="form2" method="post">
            <div class="d-flex align-items-center">
                <input 
                type="text"
                autofocus
                autocomplete="off" 
                class="form-control mr-3" 
                placeholder="Yosh kiriting"
                id="age" 
                name="age" 
                required />

                <button class="btn btn-primary" style="border-radius: 20px; width: 30%;" type="submit">Yoshni kiritish</button>
</div>
</form>
<ol class="list2"></ol>
<script>
const form2 = document.querySelector("#form2");
const age = document.querySelector("#age");
const list2 = document.querySelector(".list2");

const advice = [
    "Yaxshi talaba bo'ling", // 0-20
    "To'g'ri boshliq tanlang va ko'proq xatolardan o'rganing", // 20-30
    "O'zingizga ishlashni boshlang", // 30-40
    "O'zingizni yaxshi his qiladigan ishni qiling", // 40-50
    "Yoshlarga investitsiya qiling", // 50-60
    "Endi dam oling", // 60+
];

form2.addEventListener('submit', (event) => {
  event.preventDefault();
  const newAge = Number(age.value);
  age.value = "";
  age.focus();

  maslahatBering(newAge, (err, data) => {
    if (err) {
      alert("Xatolik: " + err);
    } else {
      const newHTML = `<li style="margin:10px">${data} <button onclick="deleteWord(this)">o'chirish</button></li>`;
      list2.insertAdjacentHTML('beforeend', newHTML);
    }
  });
});

function maslahatBering(age, callback) {
  if (isNaN(age)) {
    callback('Iltimos, yoshni raqam sifatida kiriting', null);
  } else if (age <= 20) {
    callback(null, advice[0]);
  } else if (age <= 30) {
    callback(null, advice[1]);
  } else if (age <= 40) {
    callback(null, advice[2]);
  } else if (age <= 50) {
    callback(null, advice[3]);
  } else if (age <= 60) {
    callback(null, advice[4]);
  } else {
    callback(null, advice[5]);
  }
}

function deleteWord(button) {
  button.parentElement.remove();
}
</script>